.screen{
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    background: #804000;
}

.new-btn{
    position: fixed;
    top : 30px;
    right : 30px;
}

.new-user{
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 1000ms ease-in-out;
}

.new-user:hover{
    /* scale: 1.3; */
    transform: rotateY(360deg);
}
